* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.background_body_image {
  background-image: url("../Images/fxs_bg.png");
  height: 100vh;
  width: 100%;
}

.container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 7%;
  width: 65%;
  height: auto;
  background-color: #e4ded6;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.merchandise_menu_bar{
    position: relative;
}
.merchandise_text{
    position: absolute;
    top: 23px;
    left: 58px;
    color: white;
    font-size: 15px;
}


.firaxix_image_container {
  width: 500px;
  position: absolute;
  margin: -85px 120px 0 200px;
  height: 200px;
}
.firaxix_image_container > img {
  width: 100%;
  height: 100%;
}
.search_bar {
  margin-top: 2%;
  margin-right: 2%;
  display: flex;
  align-items: center;
  height: 25px;
  justify-content: space-between;
}
.search_bar > input {
  height: 100%;
  border: 1px solid grey;
}
.search_bar > img {
  width: 100%;
  height: 100%;
  margin-left: 2%;
}
input[type="text"]::placeholder {
  padding-left: 5px;
}
.atlas_container {
  margin: 0 0 -2% 2%;
  width: 180px;
  height: 140px;
}
.atlas_container > img {
  width: 100%;
  height: 100%;
}

.main-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;
  height: 560px;
}

.apparel-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 23%;
  height: 96%;
  margin-left: 1.8%;
  margin-top: 2%;
}
.active{
    color: green;
}

.apparel-sub-section {
  display: flex;
  flex-direction: column;
}
.categories-section {
  background-color: white;
  padding-top: 5%;
  padding-left: 10%;
  padding-right: 10%;
  height: 120px;
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 98%;
  justify-content: space-between;
}

.border-bottom {
  border-bottom: 1px solid grey;
  cursor: pointer;
  font-family: 'Pangolin', 'cursive';

}
.clearance_text{
    cursor: pointer;
    font-family: 'Pangolin', 'cursive';

}
.categories_details_section {
  border: 2px solid grey;
  border-radius: 15px;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.categories_title {
  font-family: 'Pangolin', 'cursive';
  font-size: 28px;
}

.categories_details {
  padding: 5px;
  line-height: 1.5;
  text-align: justify;
  width: 100%;
}

.content_box_left {
  position: absolute;
  left: 245px;
  top: 2px;
  height: 10px;
  width: 10px;
}
.content_box_right {
  position: absolute;
  right: 30px;
  top: 2px;
  height: 10px;
  width: 10px;
}

.carousel-section {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin-right: 1.5%;
  border-top: 1px solid black;
  border-left: 1px solid rgb(192, 188, 188);
  border-right: 1px solid rgb(197, 188, 188);
  border-bottom: 1px solid rgb(197, 188, 188);
  height: 98%;
}

.available_now_xcom_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 17px 0 0 15px;
  height: 100px;
}
.available_now_text {
  color: rgb(100, 95, 95);
    font-size: 15px;
  margin-bottom: 5%;
}
.xcom-text {
  font-size: 25px;
  font-family: 'Pangolin', 'cursive';

}
.carousel-detail-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  background-color: white;
}

.carousel-images-section {
  background-color: white;
  padding: 8px;
  border-top: 1px solid grey;
}
.carousel-images {
    height: 250px;
  width: 100%;

}
.carousel-images > img {
height: 100%;
  width: 100%;
}
.carousel-detail {
  padding: 8px;
  width: 60%;
  text-align: justify;
}
.more-info-container {
  width: 33%;
  border: 1px solid rgb(187, 181, 181);
  margin-right: 18px;
  margin-top: 15px;

}
.more-info-container > button {
  padding: 10px;
  width: 100%;
  font-weight: 900;
  font-family: 'Pangolin', 'cursive';
  font-size: 20px;
  background-color: rgb(226, 217, 217);
  border: none;
}

/* Featured Items */
.featured_section {
  position: relative;
  border: 1px solid grey;
  margin-left: 1.8%;
  margin-top: 5%;
  margin-right: 1.577%;
  height: auto;
}
.featured_items_heading {
  height: 60px;
  padding: 25px 0 0 25px;
  border-bottom: 2px solid grey;
  font-weight: 600;
}
.featured_content_left {
  position: absolute;
  top: -5px;
  left: -5px;
}
.featured_content_right {
  position: absolute;
  top: -5px;
  right: -5px;
}
.featured_products_section {
  padding-top: 5%;
  background-color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  
}

.featured_product {
  height: auto;
  width: 200px;
  text-align: center;
  margin-left: 1%;
}
.product_image {
  width: 80%;
  height: 51%;
  margin-left: auto;
  margin-right: auto;
}
.product_image > img {
  margin-top: 15%;
  width: 100%;
}
.product_name {
  text-align: left;
  font-weight: 600;
  font-size: 14px;
  height: 45px;
  line-height: 1.5;
}
.product_price_section {
  width: 100%;
  height: 34px;
  margin-top: 15px;
  position: relative;
  border-top: 2px solid rgb(179, 173, 173);
  border-bottom: 2px solid rgb(179, 173, 173);
}

.product_price {
  position: absolute;
  top: 4px;
  left: 70px;
  color: white;
}
.product_menu_image > img {
  width: 100%;
  margin-top: 1.5%;
}

.more-info-button-featured {
  width: 100%;
  margin-top: 1%;
}
.more-info-button-featured > button {
  width: 100%;
  padding: 8px;
  font-weight: 600;
  font-size: 15px;

  background-color: white;
}
.add-to-basket-button-featured {
  margin-top: 3%;
  width: 100%;
}
.add-to-basket-button-featured > button {
  width: 100%;
  padding: 8px;
  font-weight: 600;
  font-size: 15px;
  color: whitesmoke;
  border: 3px solid rgb(211, 83, 9);
  background-color: rgb(218, 110, 47);
}


/* LONG ITEMS */


.featured_product_XCOMM {
    margin-top: 5%;
    height: 650px;
    width: 200px;
    /* border: 1px solid black; */
    text-align: center;
    margin-left: 1%;
  }
  .product_name_XCOMM {
    text-align: left;
    font-weight: 600;
    font-size: 13px;
    height: 120px;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    /* border: 2px solid red; */
  }
  .product_image_XCOMM {
    width: 80%;
    height: 45%;
    margin-left: auto;
    margin-right: auto;
  }
  .product_image_XCOMM > img{
      width: 100%;
      height: 100%;
  }
.hr_style{
    border: 1px solid rgb(177, 172, 172);
    margin-bottom: 2px;
}
  .page12_text{
      color: grey;
      text-align: left;
      font-weight: 600;
      padding: 7px 0 7px 5px;
  }

  .more-info-button-featured_XCOMM {
    width: 100%;
    margin-top: 1%;
  }
  .more-info-button-featured_XCOMM > button {
    width: 100%;
    padding: 8px;
    font-weight: 600;
    font-size: 15px;
  
    background-color: white;
  }
  .add-to-basket-button-featured_XCOMM {
    margin-top: 5%;
    width: 100%;
  }
  .add-to-basket-button-featured_XCOMM > button {
    width: 100%;
    padding: 8px;
    font-weight: 600;
    font-size: 15px;
    color: whitesmoke;
    border: 3px solid rgb(211, 83, 9);
    background-color: rgb(218, 110, 47);
  }

  /* Footer Section */

  .footer_contact_section{
      margin-top: 4%;
      height: 180px;
      padding: 30px 10px 0 10px;
      background-color: white;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
  }

  .footer_parts{

      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 120px;
      width: 110px;
  }

  .footer_heading{
      font-weight: 900;
      font-size: 15px;
  }

  .footer_contents{
      text-decoration: underline;
      line-height: 1.5;
      font-size: 13px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      height: 80px;
  }

  /* digital river footer */


  .digital_river_footer{
      width: 90%;
      height: 150px;
      margin-left: auto;
      margin-right: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      background-color: rgb(12, 12, 12);
      color: rgb(196, 187, 187);
      line-height: 2.5;
      text-align: left;
      padding-left: 10%;
  }
  .digital_ireland_link{
      text-decoration: underline;
}
.underlined_text{
    text-decoration: underline;
}


/* Media Queries */

@media only screen and (max-width: 650px){
  .container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7%;
    width: 90%;
    height: 3500px;
    background-color: #e4ded6;
  }
  .atlas_container {
    margin: 0 0 -2% 2%;
    width: 100px;
    height: 100px;
  }
  .atlas_container > img {
    width: 100%;
    height: 100%;
  }

  .firaxix_image_container {
    width: 150px;
    position: absolute;
    margin: -55px 80px 0 120px;
    height: 120px;
  }
  .firaxix_image_container > img {
    width: 100%;
    height: 100%;
  }

  .search_bar {
    margin-top: 2%;
    margin-right: 2%;
    display: flex;
    align-items: center;
    height: 20px;
    width: 140px;
    justify-content: space-between;
  }
  .search_bar > input {
    height: 100%;
    width:88%;
    border: 1px solid grey;
  }
  .search_bar > img {
    width: 12%;
    height: 100%;
    margin-left: 2%;
    cursor: pointer;
  }
  input[type="text"]::placeholder {
    padding-left: 5px;
  }

  .main-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    height: 1250px;
    margin-top: 5%;
  }

  .apparel-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 70%;
    height: 600px;
    margin-left: 1.8%;
    margin-top: 2%;
  }
  .apparel-sub-section {
    display: flex;
    flex-direction: column;
  }
  .merchandise_menu_bar{
    position: relative;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}
.merchandise_menu_bar > img {
  width: 100%;
  height: 80%;
}
.merchandise_text{
    position: absolute;
    top: 15px;
    left: 165px;
    color: white;
    font-size: 15px;
}
.categories-section {
  background-color: white;
  padding-top: 5%;
  padding-left: 10%;
  padding-right: 10%;
  height: 120px;
  margin-bottom: 5%;
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 95%;
  justify-content: space-between;
}

.categories_details_section {
  border: 2px solid grey;
  border-radius: 15px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.carousel-section {
  display: flex;
  position: relative;
  flex-direction: column;
  margin-top: 5%;
  width: 90%;
  margin-right: 1.5%;
  border-top: 1px solid black;
  border-left: 1px solid rgb(192, 188, 188);
  border-right: 1px solid rgb(197, 188, 188);
  border-bottom: 1px solid rgb(197, 188, 188);
  height: 98%;
}
.clearance_text{
  cursor: pointer;
  font-family: 'Pangolin', 'cursive';

}
.border-bottom {
  border-bottom: 1px solid grey;
  cursor: pointer;
  font-family: 'Pangolin', 'cursive';

}
.content_box_left {
  position: absolute;
  left: -4px;
  top: -4px;
  height: 10px;
  width: 10px;
}
.content_box_right {
  position: absolute;
  right: 16px;
  top: -4px;
  height: 10px;
  width: 10px;
}
.featured_section {
  position: relative;
  border: 1px solid grey;
  margin-left: 1.8%;
  margin-right: 1.577%;
  height: 2045px;
  
}
.featured_product {
  height: 380px;
  width: 200px;
  text-align: center;
  margin-left: 1%;
  margin-bottom: 2%;
}
.featured_products_section {
  padding-top: 5%;
  background-color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}
.footer_contact_section{
  margin-top: 100px;
  height: 300px;
  padding: 30px 10px 0 10px;
  background-color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.digital_river_footer{
  width: 100%;
  height: 350px; 
  background-color: rgb(18, 19, 16);
  color: rgb(196, 187, 187);
  text-align: center;
  margin-top:320px;
  padding: 5px;
}
.featured_product_XCOMM {
  margin-top: 5%;
  height: 550px;
  width: 200px;
  text-align: center;
  margin-left: 1%;
  margin-bottom: 5%;
}
}
@media only screen and (min-width: 751px) and (max-width: 980px){
  .container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7%;
    width: 90%;
    height: 3550px;
    background-color: #e4ded6;
  }
  .atlas_container {
    margin: 0 0 -2% 2%;
    width: 180px;
    height: 140px;
  }
  .atlas_container > img {
    width: 100%;
    height: 100%;
  }
  .firaxix_image_container {
    width: 400px;
    position: absolute;
    margin: -85px 120px 0 260px;
    height: 200px;
  }
  .firaxix_image_container > img {
    width: 100%;
    height: 100%;
  }
  .search_bar {
    margin-top: 2%;
    margin-right: 2%;
    display: flex;
    align-items: center;
    height: 20px;
    width: 140px;
    justify-content: space-between;
  }
  .search_bar > input {
    height: 100%;
    width:88%;
    border: 1px solid grey;
  }
  .search_bar > img {
    width: 12%;
    height: 100%;
    margin-left: 2%;
    cursor: pointer;
  }
  input[type="text"]::placeholder {
    padding-left: 5px;
  }

  .main-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    height: 1250px;
    margin-top: 5%;
  }

  .apparel-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 70%;
    height: 600px;
    margin-left: 1.8%;
    margin-top: 2%;
  }
  .apparel-sub-section {
    display: flex;
    flex-direction: column;
  }
  .merchandise_menu_bar{
    position: relative;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}
.merchandise_menu_bar > img {
  width: 100%;
  height: 80%;
}
.merchandise_text{
    position: absolute;
    top: 15px;
    left: 165px;
    color: white;
    font-size: 15px;
}
.categories-section {
  background-color: white;
  padding-top: 5%;
  padding-left: 10%;
  padding-right: 10%;
  height: 120px;
  margin-bottom: 5%;
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 95%;
  justify-content: space-between;
}

.categories_details_section {
  border: 2px solid grey;
  border-radius: 15px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.carousel-section {
  display: flex;
  position: relative;
  flex-direction: column;
  margin-top: 5%;
  width: 90%;
  margin-right: 1.5%;
  border-top: 1px solid black;
  border-left: 1px solid rgb(192, 188, 188);
  border-right: 1px solid rgb(197, 188, 188);
  border-bottom: 1px solid rgb(197, 188, 188);
  height: 98%;
}
.clearance_text{
  cursor: pointer;
  font-family: 'Pangolin', 'cursive';

}
.border-bottom {
  border-bottom: 1px solid grey;
  cursor: pointer;
  font-family: 'Pangolin', 'cursive';

}
.content_box_left {
  position: absolute;
  left: -4px;
  top: -4px;
  height: 10px;
  width: 10px;
}
.content_box_right {
  position: absolute;
  right: 16px;
  top: -4px;
  height: 10px;
  width: 10px;
}
.featured_section {
  position: relative;
  border: 1px solid grey;
  margin-left: 1.8%;
  margin-right: 1.577%;
  height: 2100px;
  
}
.featured_product {
  height: 380px;
  width: 200px;
  text-align: center;
  margin-left: 1%;
  margin-bottom: 2%;
}
.featured_products_section {
  padding-top: 5%;
  background-color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}
.footer_contact_section{
  margin-top: 100px;
  height: 300px;
  padding: 30px 10px 0 10px;
  background-color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.digital_river_footer{
  width: 100%;
  height: 350px; 
  background-color: rgb(18, 19, 16);
  color: rgb(196, 187, 187);
  text-align: center;
  margin-top:50%;
  padding: 5px;
}
.featured_product_XCOMM {
  margin-top: 5%;
  height: 550px;
  width: 200px;
  text-align: center;
  margin-left: 1%;
  margin-bottom: 5%;
}
}



@media only screen and (min-width: 650px) and (max-width: 1050px){
  .container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7%;
    width: 85%;
    height: 3250px;
    background-color: #e4ded6;
  }
  .featured_section {
    position: relative;
    border: 1px solid grey;
    margin-left: 1.8%;
    margin-right: 1.577%;
    height: 1775px;
    
  }
  .firaxix_image_container {
    width: 400px;
    position: absolute;
    margin: -85px 120px 0 180px;
    height: 200px;
  }
  .firaxix_image_container > img {
    width: 100%;
    height: 100%;
  }
  .fourth{
    margin-top: 5%;
    height: 620px;
  }
  .product_image_XCOMM{
    height: 200px;
  }
  .featured_product_XCOMM{
    height: 550px;
  }
  .product_name_XCOMM{
    margin-top: 0;
  }
  .main-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    height: 1250px;
    margin-top: 5%;
  }

  .apparel-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 70%;
    height: 600px;
    margin-left: 1.8%;
    margin-top: 2%;
  }
  .apparel-sub-section {
    display: flex;
    flex-direction: column;
  }
  .merchandise_menu_bar{
    position: relative;
    width: 60%;
    margin-right: auto;
    margin-left: auto;
}
.merchandise_menu_bar > img {
  width: 100%;
  height: 80%;
}
.merchandise_text{
    position: absolute;
    top: 22px;
    left: 320px;
    color: white;
    font-size: 15px;
}
.categories-section {
  background-color: white;
  padding-top: 5%;
  padding-left: 5%;
  padding-right: 5%;
  height: 150px;
  margin-bottom: 5%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 75%;
  justify-content: space-between;
}

.categories_details_section {
  border: 2px solid grey;
  border-radius: 15px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
}

@media only screen and (min-width: 901px) and (max-width: 1350px){
  .container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7%;
    width: 85%;
    height: 2150px;
    background-color: #e4ded6;
  }
  .atlas_container {
    margin: 0 0 -2% 2%;
    width: 180px;
    height: 140px;
  }
  .atlas_container > img {
    width: 100%;
    height: 100%;
  }
  .firaxix_image_container {
    width: 400px;
    position: absolute;
    margin: -85px 120px 0 300px;
    height: 200px;
  }
  .firaxix_image_container > img {
    width: 100%;
    height: 100%;
  }
  .search_bar {
    margin-top: 2%;
    margin-right: 2%;
    display: flex;
    align-items: center;
    height: 20px;
    width: 140px;
    justify-content: space-between;
  }
  .search_bar > input {
    height: 100%;
    width:88%;
    border: 1px solid grey;
  }
  .search_bar > img {
    width: 12%;
    height: 100%;
    margin-left: 2%;
    cursor: pointer;
  }
  input[type="text"]::placeholder {
    padding-left: 5px;
  }

  .main-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    height: 720px;
  }

  .apparel-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 23%;
    height: 100%;
    margin-left: 3%;
    margin-top: 5%;
  }
  .apparel-sub-section {
    display: flex;
    flex-direction: column;
  }
  .merchandise_menu_bar{
    position: relative;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}
.merchandise_menu_bar > img {
  width: 100%;
  height: 100%;
}
.merchandise_text{
    position: absolute;
    top: 23px;
    left: 50px;
    color: white;
    font-size: 12px;
}
.categories-section {
  background-color: white;
  padding-top: 5%;
  padding-left: 10%;
  padding-right: 10%;
  height: 120px;
  margin-bottom: 5%;
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 95%;
  justify-content: space-between;
}

.categories_details_section {
  border: 2px solid grey;
  border-radius: 15px;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.carousel-section {
  display: flex;
  position: relative;
  flex-direction: column;
  margin-top: 5%;
  margin-left: 2%;
  width: 90%;
  margin-right: 1.5%;
  border-top: 1px solid black;
  border-left: 1px solid rgb(192, 188, 188);
  border-right: 1px solid rgb(197, 188, 188);
  border-bottom: 1px solid rgb(197, 188, 188);
  height: 98%;
}
.clearance_text{
  cursor: pointer;
  font-family: 'Pangolin', 'cursive';

}
.border-bottom {
  border-bottom: 1px solid grey;
  cursor: pointer;
  font-family: 'Pangolin', 'cursive';

}
.content_box_left {
  position: absolute;
  left: -4px;
  top: -4px;
  height: 10px;
  width: 10px;
}
.content_box_right {
  position: absolute;
  right: 16px;
  top: -4px;
  height: 10px;
  width: 10px;
}
.featured_section {
  position: relative;
  border: 1px solid grey;
  margin-left: 1.8%;
  margin-right: 1.577%;
  height: 1165px;
  
}
.featured_product {
  height: 380px;
  width: 200px;
  text-align: center;
  margin-left: 1%;
  margin-bottom: 2%;
}
.featured_products_section {
  padding-top: 5%;
  background-color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}
.footer_contact_section{
  margin-top: 100px;
  height: 200px;
  padding: 30px 10px 0 10px;
  background-color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.digital_river_footer{
  width: 98%;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  margin-top: 15%;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(12, 12, 12);
  color: rgb(196, 187, 187);
  line-height: 2.5;
  text-align: center;
  padding-left: 10%;
}
.featured_product_XCOMM {
  margin-top: 5%;
  height: 550px;
  width: 200px;
  text-align: center;
  margin-left: 1%;
  margin-bottom: 5%;
}
}


